#*
*.c2t
*.pb.cpp
*.pb.h
*.so
*Test
*~
.#*
.sconsign.dblite
/doc
Dependencies*
compile_commands.json
doc/
foobar
lib*.a
obj/
server/smartmetd
server/test/results
server/test/results_diff
spserver/spserver-0.9.3/spserver/*.o
/.settings/
.cproject
.project
dist/
